<?xml version="1.0" encoding="utf-8" ?>
<StaminaProperties>
  <BaseStaminaValue>200</BaseStaminaValue>
  <StaminaGainedPerAthletics>2</StaminaGainedPerAthletics>
  <StaminaGainedPerCombatSkill>1</StaminaGainedPerCombatSkill>
  <StaminaGainedPerLevel>1</StaminaGainedPerLevel>
  
  <StaminaCostToMeleeAttack>20</StaminaCostToMeleeAttack>
  <StaminaCostToRangedAttack>20</StaminaCostToRangedAttack>
  <StaminaCostToBlock>10</StaminaCostToBlock>
  <StaminaCostPerReceivedDamage>1</StaminaCostPerReceivedDamage>
  
  <LowestSpeedFromStaminaDebuff>0.5</LowestSpeedFromStaminaDebuff>
  <StaminaRecoveredPerTick>0.15</StaminaRecoveredPerTick>
  <SecondsBeforeStaminaRegenerates>4</SecondsBeforeStaminaRegenerates>
  <MaximumMoveSpeedPercentStaminaRegenerates>0.5</MaximumMoveSpeedPercentStaminaRegenerates>
  
  <FullStaminaRemaining>1.0</FullStaminaRemaining>
  <HighStaminaRemaining>0.75</HighStaminaRemaining>
  <MediumStaminaRemaining>0.5</MediumStaminaRemaining>
  <LowStaminaRemaining>0.25</LowStaminaRemaining>
  <NoStaminaRemaining>0.01</NoStaminaRemaining>
</StaminaProperties>